# DATABASE_URL=mysql://root:root_password@localhost:3307/twin_commerce
DATABASE_URL=mysql://root:root_password@127.0.0.1:3306/twin_commerce
# DATABASE_URL=mysql://root:root_password@twin-db:3306/twin_commerce
GOOGLE_CLIENT_ID=38445945474-gg1a178do6s0lipku5tj5c6u9v1o9llm.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=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
AUTH_SECRET=cxUg6IakhP7G9jojZYJhkOk6QPz7SQmfnFw+hhBd9Uc


# Database Configuration
DB_TYPE=mysql
DB_USERNAME=twin_user
DB_PASSWORD=twin_password
DB_NAME=twin_commerce
DB_ROOT_PASSWORD=root_password

# Application URLs

# File Upload
FILE_UPLOAD_BASE_DIR=/usr/src/app/uploads/files/images

# Timezone
TZ=UTC

# BACkEND configuration
BACKEND_HOST=twin-backend
NEXT_PUBLIC_BACKEND_PORT=3005

# FRONTEND configuration
FRONTEND_HOST=twin-frontend
FRONTEND_PORT=3006

# NGINX configuration
NEXT_PUBLIC_NGINX_HOST_NAME=twin-commerce
NEXT_PUBLIC_NGINX_PORT=8084
PUBLIC_URL=http://localhost:${NEXT_PUBLIC_NGINX_PORT}
NEXT_PUBLIC_API_URL=http://localhost:${NEXT_PUBLIC_NGINX_PORT}/api
